<div class="">
<div class="abc" style="background: linear-gradient(to right, rgb(24, 24, 45),lightblue);">

    <h1 class="topic-background">Technology Events</h1>

   

    <div class="table-container">
        <table class="planners-table">
            <thead>
                <tr>
                    <th>Count</th>
                    <th>ID</th>
                    <th>Event Name</th>
                    <th>Event Category</th>
                    <th>Venue</th>
                    <th>No Of Tickets</th>
                    <th>Ticket Price</th>
                    <th>Event Date</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of eventList; index as i">
                    <td>{{i+1}}</td>
                    <td>{{event.id}}</td>
                    <td>{{event.eventName}}</td>
                    <td>{{event.eventCategory}}</td>
                    <td>{{event.venue}}</td>
                    <td>{{event.noOfTickets}}</td>
                    <td>{{event.ticketPrice}}</td>
                    <td>{{event.date}}</td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>