<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h3>BhagzEventz</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="app-manage-customer-page">Manage Customer</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="app-add-customer-page">Add customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="app-add-eventplanner-page">Add eventplanner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="app-manage-event-planner">Manage eventplanner</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#" routerLink="app-add-evnt-page">Add event</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#" routerLink="app-manage-event-page">Manage event</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="app-selection-page">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="app-selection-page">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>