<div class="abc" style="background: linear-gradient(to right, rgb(24, 24, 45),lightblue);">

    <h1 class="topic-background">View Event Planners Page</h1>

    <!-- <div class="search-container" >
    <div class="search-wrapper">
        <input 
            type="text" 
            class="search-input" 
            placeholder="Search event planners..."
            [(ngModel)]="searchTerm"
            (keyup.enter)="searchEventplanners()">
        <button class="search-button" (click)="searchEventplanners()">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div> -->



        <div class="table-container">
            <table class="planners-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Specialization</th>
                        <th>Experience</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let eventplanner of eventplannerList;">
                        <td>
                            <div class="">{{eventplanner.name}}</div>
                        </td>
                        <td>
                            <div class="">{{eventplanner.address}}</div>
                        </td>
                        <td>{{eventplanner.email}}</td>
                        <td>{{eventplanner.contact}}</td>

                        <td>{{eventplanner.specialization}}</td>

                        <td>{{eventplanner.experience+" years"}}</td>


                    </tr>
                </tbody>
            </table>
        </div>
    
</div>