.card {
    width: 190px;
    height: 254px;
    background: rgb(120, 155, 112);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
  }
  
  .card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background: rgb(79, 108, 124);
  }
  
  .first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  
  .card:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
  .second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
  .card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
  }
  


  .features-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px; 
    padding: 80px;
    min-height: 100vh;
}

.card {
    width: 200px; 
}

@media (max-width: 992px) {
    .features-section {
        flex-wrap: wrap;
    }
}




.first-content,
.second-content {
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;      
    width: 100%;
    height: 100%;
}

.first-content span,
.second-content span {
    text-align: center;
    width: 100%;            
    padding: 0 10px;       
}




.card {
    width: 320px;
    height: 350px;
    padding: 20px;
    color: white;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    }
    
    .card .main-content {
    flex: 1;
    }
    
    .card .header span:first-child {
    font-weight: 600;
    /* color: #717171; */
    margin-right: 4px;
    }
    
    .card .heading {
    font-size: 24px;
    margin: 24px 0 16px;
    font-weight: 600;
    }
    
    .card .categories {
    display: flex;
    gap: 8px;
    }
    
    .card .categories span {
    background-color: #e81cff;
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
    }
    
    .card .footer {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
    }
    
    .card:hover {
    rotate: 6deg;
    }