
<div class="features-section" style="background-color: rgb(72, 72, 87);">
    
    <div class="card" routerLink="/app-add-evnt-page">
        <div class="first-content">
            <span>Add Event</span>
        </div>
        <div class="second-content">
            <span>Add Event</span>
        </div>
    
    
    </div>
    
  

    <div class="card" routerLink="/app-manage-event-planner">
        <div class="first-content">
            <span>Event Manage</span>
        </div>
        <div class="second-content">
            <span>Event Manage</span>
        </div>
    </div>
   
  


    <div class="card" routerLink="/app-manage-customer-page">
        <div class="first-content">
            <span>Customer Manage</span>
        </div>
        <div class="second-content">
            <span>Customer Manage</span>
        </div>
    </div>
</div>
