
<div class="planners-container" style="background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgb(49, 129, 155),rgba(0, 0, 0, 0.982));">
  <h1 class="topic-background">Event Management</h1>

  
  <div class="table-container">
      <table class="planners-table">
          <thead>
              <tr>
                <th>Count</th>
                <th>ID</th>
                <th>Event Name</th>
                <th>Event Category</th>
                <th>Venue</th>
                <th>No Of Tickets</th>
                <th>Ticket Price</th>
                <th>Event Date</th>
                <!-- <th>Event image</th> -->
                <th>Delete</th>
                <th>Update</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of eventList; index as i">
              <td>{{i+1}}</td>
              <td>{{event.id}}</td>
              <td>{{event.eventName}}</td>
              <td>{{event.eventCategory}}</td>
              <td>{{event.venue}}</td>
              <td>{{event.noOfTickets}}</td>
              <td>{{event.ticketPrice}}</td>
              <td>{{event.date}}</td>
              <!-- <td><img [src]="event.eventImage" 
                  alt="image" 
                  style="max-width: 100px; height: auto;">
              </td> -->
              <!-- <td><button class="btn btn-outline-danger" (click)="deleteEventById(event.id)"><i class="bi bi-trash"></i></button></td> -->
               <td>
                <button class="bin-button" (click)="deleteEventById(event.id)">
                  <svg
                    class="bin-top"
                    viewBox="0 0 39 7"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <line y1="5" x2="39" y2="5" stroke="white" stroke-width="4"></line>
                    <line
                      x1="12"
                      y1="1.5"
                      x2="26.0357"
                      y2="1.5"
                      stroke="white"
                      stroke-width="3"
                    ></line>
                  </svg>
                  <svg
                    class="bin-bottom"
                    viewBox="0 0 33 39"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <mask id="path-1-inside-1_8_19" fill="white">
                      <path
                        d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"
                      ></path>
                    </mask>
                    <path
                      d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"
                      fill="white"
                      mask="url(#path-1-inside-1_8_19)"
                    ></path>
                    <path d="M12 6L12 29" stroke="white" stroke-width="4"></path>
                    <path d="M21 6V29" stroke="white" stroke-width="4"></path>
                  </svg>
                </button>
               </td>
              <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateEvent(event)"><i class="bi bi-pencil-square"></i></button></td>
          </tr>
          </tbody>
      </table>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Event</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Id</label>
              <input type="text" class="form-control" [(ngModel)]="eventTemp.custId" id="recipient-name" disabled="true">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Event Name</label>
              <input type="text" class="form-control" [(ngModel)]="eventTemp.eventName" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Event Category</label>
              <input type="text" class="form-control" [(ngModel)]="eventTemp.eventCategory" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Event Venue</label>
              <input type="text" class="form-control" [(ngModel)]="eventTemp.venue" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">No Of Tickets</label>
              <input type="text" class="form-control" [(ngModel)]="eventTemp.noOfTickets" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Ticket Price</label>
              <input type="text" class="form-control" [(ngModel)]="eventTemp.ticketPrice" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Event Date</label>
              <input type="text" class="form-control" [(ngModel)]="eventTemp.date" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Image</label>
              <input type="text" class="form-control" [(ngModel)]="eventTemp.image" id="recipient-name">
            </div>
           
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveEvent()" data-bs-dismiss="modal">Update Event</button>
        </div>
      </div>
    </div>
  </div>
  

