<h1 class="text-red p-3 text-center" style="background-color: rgb(98, 79, 116); color: #ffffff;">Customer Management</h1>

<div class="planners-container" style="background-color: rgb(72, 72, 87);">
  
  <div class="table-container">
      <table class="planners-table">
          <thead>
              <tr>
                <th>Count</th>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Delete</th>
                <th>Update</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let customer of customerList; index as i">
                  <td>
                      <div class="planner-name">{{i+1}}</div>
                  </td>
                  <td>
                      <div class="planner-name">{{customer.custId}}</div>
                  </td>
                  <td>{{customer.custId}}</td>
                  <td>{{customer.custAddress}}</td>
                  <td>
                    {{customer.custEmail}}
                  </td>
                  <td>
                    {{customer.custContact}}
                  </td>
                  <!-- <td><button class="btn btn-outline-danger" (click)="deleteCustomerById(customer.custId)"><i class="bi bi-trash"></i></button></td> -->
                   <td>
<button class="bin-button" (click)="deleteCustomerById(customer.custId)">
  <svg
    class="bin-top"
    viewBox="0 0 39 7"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line y1="5" x2="39" y2="5" stroke="white" stroke-width="4"></line>
    <line
      x1="12"
      y1="1.5"
      x2="26.0357"
      y2="1.5"
      stroke="white"
      stroke-width="3"
    ></line>
  </svg>
  <svg
    class="bin-bottom"
    viewBox="0 0 33 39"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <mask id="path-1-inside-1_8_19" fill="white">
      <path
        d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"
      ></path>
    </mask>
    <path
      d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"
      fill="white"
      mask="url(#path-1-inside-1_8_19)"
    ></path>
    <path d="M12 6L12 29" stroke="white" stroke-width="4"></path>
    <path d="M21 6V29" stroke="white" stroke-width="4"></path>
  </svg>
</button>

                   </td>
                  <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateCustomer(customer)">                                                                                                                                                                                                     v<i class="bi bi-pencil-square"></i></button></td>

              </tr>
          </tbody>
      </table>
  </div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Customer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Id</label>
            <input type="text" class="form-control" [(ngModel)]="customerTemp.custId" id="recipient-name" disabled="true">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name</label>
            <input type="text" class="form-control" [(ngModel)]="customerTemp.custName" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Address</label>
            <input type="text" class="form-control" [(ngModel)]="customerTemp.custAddress" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email</label>
            <input type="text" class="form-control" [(ngModel)]="customerTemp.custEmail" id="recipient-name">
          </div>
         
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveCustomer()" data-bs-dismiss="modal">Update Customer</button>
      </div>
    </div>
  </div>
</div>







