<h1 class="bg-danger-subtle text-black p-3 text-center">Management Sectio</h1>

<div class="features-section" style="background-color: rgb(72, 72, 87);">
    
    <div class="card" routerLink="app-manage-event-page">
        <div class="first-content">
            <span>Event Manage</span>
        </div>
        <div class="second-content">
            <span>Event Manage</span>
        </div>
    
    
    </div>
    
  

    <div class="card" routerLink="app-manage-event-planner">
        <div class="first-content">
            <span>Event Planner Manage</span>
        </div>
        <div class="second-content">
            <span>Event Planner Manage</span>
        </div>
    </div>
   
  


    <div class="card" routerLink="app-manage-customer-page">
        <div class="first-content">
            <span>Customer Manage</span>
        </div>
        <div class="second-content">
            <span>Customer Manage</span>
        </div>
    </div>
 

</div>