<div class="abc" style="background: linear-gradient(to right, rgb(38, 38, 68),lightblue);">

<h1 class="topic-background">Educational Events</h1>

<!-- <div class="search-container">
    <div class="search-wrapper">
        <input 
            type="text" 
            class="search-input" 
            placeholder="Search events..."
            [(ngModel)]="searchTerm"
            (keyup.enter)="searchEvents()">
        <button class="search-button" (click)="searchEvents()">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div> -->



  
  
        <div class="table-container">
            <table class="planners-table">
                <thead>
                    <tr>
                      <th>Count</th>
                      <th>ID</th>
                      <th>Event Name</th>
                      <th>Event Category</th>
                      <th>Venue</th>
                      <th>No Of Tickets</th>
                      <th>Ticket Price</th>
                      <th>Event Date</th>
                      <!-- <th>Event image</th> -->
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of eventList; index as i">
                    <td>{{i+1}}</td>
                    <td>{{event.id}}</td>
                    <td>{{event.eventName}}</td>
                    <td>{{event.eventCategory}}</td>
                    <td>{{event.venue}}</td>
                    <td>{{event.noOfTickets}}</td>
                    <td>{{event.ticketPrice}}</td>
                    <td>{{event.date}}</td>
                    <!-- <td><img [src]="event.eventImage" 
                        alt="image" 
                        style="max-width: 100px; height: auto;">
                    </td> -->
                      </tr>
                </tbody>
            </table>
        </div>
</div>